---
layout: default
title: Home
---

<meta name="google-site-verification" content="Fp70LHv1Wp67CBmhxocSst59MgGP-8YvKfx5UV-fAfg" />
<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

